@font-face{
	font-family: "Akrobat";
  	font-weight: bold;
  	src:   url("fonts/Akrobat-Bold.otf") ; /* Safari, Android, iOS */   
}


@font-face{
	font-family: "Camellion";
  	font-weight: bold;
  	src:   url("fonts/logo.ttf") ; /* Safari, Android, iOS */  

}

@media print{
	header, footer, div.slider-wrapper,div.no-print{
		display: none;
	}

	#main button{
		background-color: white;
		border:5px solid black;
		color: white;
	}

	#main{
		border:5px solid #CBBFC3;
	}

	body{
		background-image: none;
	}
}


body{
	background-image: url('images/test.jpg');
	background-size: cover;
	margin:0;
	font-family: Crimson Text;
}


header{
	font-family: Camellion;
}

header h1{
	
	font-weight: bold;
	font-size: 42px;
	margin-bottom: 5px;
	color: black;
}

header p{
	margin-top: 5px;
	text-align: center;
	font-size: 25px;
	color: black;
}

header a{
	color: black;
	text-decoration: none;
}

header a:visited{
	color: black;
}

a{
	text-decoration: none;
}

a:visited{
	color: black;
}

#logo{
	display: flex;
	width: 50%;
	margin-left: 40px;
	margin-top: 10px;
}

#logo-phone{
	min-width: 1200px;
	margin-bottom:20px ;
}


#phone{
	text-align: right;
	font-family: Akrobat;
}
	

.wrapper{
	overflow: hidden;
}


#navbar .menu{
	background-color: black;
	padding: 2px 0px 2px 40px;
}

#navbar .menu ul{
	list-style-type: none;
	border:1px solid black;
	font-size: 23px;
	padding: 0;
	font-family: Akrobat;
	width: 50%;
	float: left;
}

#navbar .menu ul > li{
	display: inline;	
	letter-spacing: 1px;
	padding-right: 30px;
	text-align: center;

}


#navbar .menu ul > li a{
	text-decoration: none;
	color: white;
}


#navbar .menu ul > li a:hover{
	color: #FFA400;
	border-bottom: 1px solid #FFA400;
	border-top: 1px solid #FFA400;
}

#navbar .menu ul.submenu{
	display: none;
	position: absolute;
	
	z-index: 10;
	margin-top: 1px;
	padding-top: 5px;
	background-color: black;
	font-size: 15px;
}

#navbar .menu .services{
	left: 210px;
	width: 130px;
}

#navbar .menu .buying{
	left: 340px;
	width: 90px;
}



ul.submenu > li {
    display: block;
}

ul.submenu > li > a {
    display: block;
    padding: 10px 5px 10px 5px;
    color: white;
    background-color: black;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}

#navbar ul.main > li:hover > ul.submenu {
    display: block;
}



/* SLIDER STYLES */


.slider-wrapper {
	height: 500px;
	position: relative;
	width: 1200px;
	margin: 10px auto 10px auto;
	border:2px solid #CBBFC3;
}

.slider {
	height: inherit;
	width: inherit;
	overflow: hidden;
	position: relative;

	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.slide-conteiner {
	position: absolute;
	width: inherit;
	height: inherit;
	background-size: cover;
	opacity: 0;

	transform: scale(1.5);
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

.slide1 { background-image: url(images/slider1.jpg);  }
.slide2 { background-image: url(images/slider2.jpg); }
.slide3 { background-image: url(images/slider3.jpg);  }
.slide4 { background-image: url(images/slider4.jpg); }
.slide5 { background-image: url(images/slider5.jpg); }

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
	opacity: 1;

	transform: scale(1);
}

.slider-wrapper > input {
	display: none;
}

.slider-wrapper .controls {
	position: absolute;
	top:450px;
	left: 50%;
	margin-left: -98px;
	z-index: 2;
}

.slider-wrapper label {
	position: relative;
	width: 8px;
	height: 8px;
	margin: 25px 12px 0 16px;
	display: inline-block;
	cursor: pointer;

	border-radius: 50%;
	transition: background ease-in-out .5s;
}

.slider-wrapper label:after {
	border: 2px solid black;
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;

	border-radius: 50%;
}

#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
	background: #FFA400;
}


h2, h3,h4{
	font-family: Akrobat;
	text-align: center;
}

#main .contacts{
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	display: flex;
	flex-direction: column;
}



#main > div[class*="row"]{
	width: 1200px;
	margin: 0 auto;
	border:1px solid #CBBFC3;
	background-color: white;
	padding: 10px 2px;

}

#main  ul{
	list-style-type: none;
	font-size: 17px;
	padding: 0;
	font-family: Akrobat;
	width: 50%;
	margin: 10px auto 5px auto;
}

#main ul > li{
	display: inline;	
	letter-spacing: 1px;
	padding-right: 30px;
	text-align: center;
	width: 15%;
	margin-left: 3%;
}

#main ul > li >a{
	text-decoration: none;
}

#main ul > li a:hover{
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}


#main ul > li > a:visited{
	text-decoration: none;
	color: black;
	
}

#main iframe{
	width: 100%;
}

#main table{
	width: 100%;
}

#main table td{
	padding: 5px;
}

#main table  tr  td:first-child{
	font-family: Akrobat;
}

#main table td{
	border-bottom: 2px dotted #CBBFC3;
}
	
#main table tr:last-child td{
	border-bottom:none;
}

#main .services-wrapper{
	display: flex;
	width: 100%;
}

#main .services-wrapper .service{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	border: 1px solid #CBBFC3;
	width: 25%;
	word-wrap: break-word;
	padding: 10px;
}

#main td > a:hover{
	color: #FF8F00;
}


#main .button{
	margin: 0 auto;
	justify-content: center;
}
#main div.manager h3, h4{
	margin: 0px;
	text-align: left;
}

#main div.manager span{
	margin-left: 20px;	
}

#main div.manager table tr:first-child td{
	border-bottom: none;
}


#main .manager i[class*= "fa-"]{
	font-size:20px;
	margin-right: 5px;
}

#main div.manager div{
	flex-grow: 2;
}

#main .manager table a{
	color:  #993300;
	text-decoration:underline;
}


#main .manager table a:hover{
	color: #FFA400;
}


#main div.manager h4{
	color: #B69D9D;
	margin-bottom: 20px;

}
#main .service h3{
	margin-bottom: 5px;
}

#main div.service p.zazyvalo{
	text-align: center;
	margin-top: 5px;
	font-style: italic;
}


#main .manager{
	display: flex;
}

#main .manager img{
	margin-right: 50px;
}

#main .test{
	padding: 0 auto;
}

#main .service-message p{
	margin-top:0;
	margin-bottom: 0;
}
#main .services-wrapper div.service-message{
	width: 70%;
	margin:0 auto;
	margin-bottom: 20px;
	border-top: 1px solid #CBBFC3;
	padding-top: 5px; 
}
#main .tmp{
	
	border-top: 1px solid #CBBFC3;
	margin: 15px;
}

#main .service button{
	text-align: center;
	background-color: black;
	font-family: Akrobat;
	font-size: inherit;
	border:none;
	color: white;
	padding: 10px 15px 10px 15px;
}

#main .service button:hover{
	background-color: black;
	cursor: pointer;
	background-color: #FF8F00;
}



/*  FOOTER STYLES  */
#footer{
	background-color: black;
	min-width: 1200px;
	margin-top: 10px;
	border-top:#CBBFC3;

}


#footer a{
	text-decoration: none;
}

#footer a:hover{
	color:#FFA400;
	text-decoration: none;	
}

#footer .main{
	display: flex;   
	width: 960px;
	margin: 0 auto;
}


#footer .main > *{
	width: 23%;
	margin: 25px 15% 0px 0px;
}

#footer .main :last-child{
	margin-right: 0px;
}


#footer div.footer-title{
	border-bottom: 1px solid white;
	padding : 0px 0px 15px 0px;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: Akrobat;
}

#footer .inner * {
	color: white;	
}

#footer .footer-content{
	margin-top:15px;
}




#footer i[class*= "fa-"]{
	font-size:20px;
}

#footer div.hours table{
	width: 100%;
	border-spacing: 3px 6px;

}

#footer #contact-us tr td{
	padding: 10px;
}




/* Footer social styles */
#footer .social i{
	color: #8c8c8c;
}

#footer .social i:hover{
	color: white;
}


/* Site menu styles */
#footer .inner ul{
	padding: 0; 
	list-style-position: inside;
}

#footer .inner ul > li{
	margin-bottom: 10px;
}



#footer .inner ul > li > a{
	text-decoration: none;
	padding-left: 10px;
}


/* Copyright styles */
#footer #copyright{
	color:white;	
	overflow: hidden;
	padding: 10px;
	font-family: Akrobat;
}

#footer #copyright p{
	float: left;
}

#footer #copyright #footer-social{
	float: right;
}


#footer #footer-social i[class*= "fa-"]{
	font-size:30px;
	margin: 10px;
	color: white;
}

#footer #footer-social i[class*= "fa-"]:hover{
	color: #FFA400;
	cursor: pointer;
}

#footer .container{
	border-top: 1px solid white;
	width: 980px;
	overflow: hidden;
	margin: 0 auto;
}



