@font-face{
	font-family: "Akrobat";
  	font-weight: bold;
  	src:   url("fonts/Akrobat-Bold.otf") ; /* Safari, Android, iOS */   
}


@font-face{
	font-family: "Camellion";
  	font-weight: bold;
  	src:   url("fonts/logo.ttf") ; /* Safari, Android, iOS */  

}

@media print{

	header, footer{
		display: none;
	}

	div.right > button{
		background-color: white;
		border:5px solid black;
		color: white;
	}

	body{
		background-image: none;
	}
}


body{
	background-image: url('images/test.jpg');
	background-size: cover;
	margin:0;
	font-family: Crimson Text;
}


header{
	font-family: Camellion;
	margin-bottom: 10px;
}

header h1{
	
	font-weight: bold;
	font-size: 42px;
	margin-bottom: 5px;
	color: black;
}

header p{
	margin-top: 5px;
	text-align: center;
	font-size: 25px;
	color: black;
}

 a{
	text-decoration: none;
}

 a:visited{
	color: black;
}

span{
	font-family: Akrobat;
}

#logo{
	display: flex;
	width: 50%;
	margin-left: 40px;
	margin-top: 10px;
	color: black;
}

#logo-phone{
	min-width: 1200px;
	margin-bottom:20px ;
}


#phone{
	text-align: right;
	font-family: Akrobat;
}
	

.wrapper{
	overflow: hidden;
}


#navbar .menu{
	background-color: black;
	padding: 2px 0px 2px 40px;
}

#navbar .menu ul{
	list-style-type: none;
	border:1px solid black;
	font-size: 23px;
	padding: 0;
	font-family: Akrobat;
	width: 50%;
	float: left;
}

#navbar .menu ul > li{
	display: inline;	
	letter-spacing: 1px;
	padding-right: 30px;
	text-align: center;

}


#navbar .menu ul > li a{
	text-decoration: none;
	color: white;
}


#navbar .menu ul > li a:hover{
	color: #FFA400;
	border-bottom: 1px solid #FFA400;
	border-top: 1px solid #FFA400;
}


#navbar i[class*= "fa-"]{

 	display: inline-block;
	font-size:42px;
	color: white;
	float: right;
	padding: 17px 70px 20px 20px;
}

#navbar i[class*= "fa-"]:hover{
	color: #FF8F00;
	cursor: pointer;
}

#navbar .menu ul.submenu{
	display: none;
	position: absolute;
	
	z-index: 10;
	margin-top: 1px;
	padding-top: 5px;
	background-color: black;
	font-size: 15px;
}

#navbar .menu .services{
	left: 210px;
	width: 130px;
}

#navbar .menu .buying{
	left: 340px;
	width: 90px;
}


ul.submenu > li {
    display: block;
}

ul.submenu > li > a {
    display: block;
    padding: 10px 5px 10px 5px;
    color: white;
    background-color: black;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}

#navbar ul.main > li:hover > ul.submenu {
    display: block;
}


/* SLIDER STYLES */
h1{
	font-family: Camellion;
}
#main h1,h2,h3,h4{
	font-family: Akrobat;
}

h4{
	margin:0;
}

#main #social-h{
	display: inline-block;
}

#main {

	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	width: 1200px;
	margin: 0 auto;
	border:1px solid #CBBFC3;
	background-color: white;
	padding-bottom: 50px;
	padding: 20px;
}




#main .container{
	flex-direction: row;
}


#main .left, .right{
	width: 45%;
}

#main .left{
	float: left;
}

#main .right{
	float: left;
}

#main .right div{
	padding: 10px;
}

#main h2{
	text-align: center;
}

#main #map iframe{
	border:1px solid #CBBFC3;
}

#main #map{
	margin-bottom: 25px;
}

#main h3{
	margin:0; 
	padding-bottom: 10px;
	border-bottom: 1px solid #CBBFC3;
}

#main .left .row{
	width: 33%;
}

#main table{
	width: 100%;
	padding: 10px;
	border-spacing: 3px 6px;
}




#main div.address{
	font-style: normal;
}

#main div.col{
	margin-bottom: 25px;
}


#main form{
	margin-top: 10px;
}

#main .right{
	margin-left: 70px;
}

.border-bottom{
	border-bottom:1px solid #CBBFC3;
}

#main textarea{
	width: 400px;
}

#main div.input-form{
	float: left;
	margin-right: 20px;
	padding-left: 0;
}

#main button{
	text-align: center;
	background-color: black;
	font-family: inherit;
	font-size: inherit;
	border:none;
	color: white;
	margin:0;
	padding: 10px 25px 10px 25px;
}

#main button:hover{
	cursor: pointer;
	background-color: #FF8F00;
}

#main i[class*= "fa-"]{
	font-size: 30px;
	margin: 10px;
	color: black;
}

#main i[class*= "fa-"]:hover{
	cursor: pointer;
	color: #FF8F00;
	
}
#main table a{
	color:  #993300;
	text-decoration: underline;
}
#main table a:hover{
	color: #FFA400;
}

input[type="text"]{
	width: 180px;
	background-color: #fbfbfb;
	border:1px solid #CBBFC3;
	height: 30px;

}

#main div.text-area{
	margin-top: 15px;
	padding-left: 0;
}

textarea{
	resize: none;
	height: 100px;
	margin-bottom: 5px;
	background-color: #fbfbfb;
	border:1px solid #CBBFC3;
	padding:5px;
}


/*  FOOTER STYLES  */
#footer{
	background-color: black;
	min-width: 1200px;
	margin-top: 10px;
	border-top:#CBBFC3;

}


#footer a{
	text-decoration: none;
}

#footer a:hover{
	color:#FFA400;
	text-decoration: none;	
}

#footer .main{
	display: flex;   
	width: 960px;
	margin: 0 auto;
}


#footer .main > *{
	width: 23%;
	margin: 25px 15% 0px 0px;
}

#footer .main :last-child{
	margin-right: 0px;
}


#footer div.footer-title{
	border-bottom: 1px solid white;
	padding : 0px 0px 15px 0px;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: Akrobat;
}

#footer .inner * {
	color: white;	
}

#footer .footer-content{
	margin-top:15px;
}




#footer i[class*= "fa-"]{
	font-size:20px;
}

#footer div.hours table{
	width: 100%;
	border-spacing: 3px 6px;
}

#footer #contact-us tr td{
	padding: 10px;
}




/* Footer social styles */
#footer .social i{
	color: #8c8c8c;
}

#footer .social i:hover{
	color: white;
}


/* Site menu styles */
#footer .inner ul{
	padding: 0; 
	list-style-position: inside;
}

#footer .inner ul > li{
	margin-bottom: 10px;
}



#footer .inner ul > li > a{
	text-decoration: none;
	padding-left: 10px;
}


/* Copyright styles */
#footer #copyright{
	color:white;	
	overflow: hidden;
	padding: 10px;
	font-family: Akrobat;
}

#footer #copyright p{
	float: left;
}

#footer #copyright #footer-social{
	float: right;
}


#footer #footer-social i[class*= "fa-"]{
	font-size:30px;
	margin: 10px;
	color: white;
}

#footer #footer-social i[class*= "fa-"]:hover{
	color: #FFA400;
	cursor: pointer;
}

#footer .container{
	border-top: 1px solid white;
	width: 980px;
	overflow: hidden;
	margin: 0 auto;
}



