@font-face{
	font-family: "Akrobat";
  	font-weight: bold;
  	src:   url("fonts/Akrobat-Bold.otf") ; /* Safari, Android, iOS */    
}


@font-face{
	font-family: "Camellion";
  	font-weight: bold;
  	src:   url("fonts/logo.ttf") ; /* Safari, Android, iOS */ 
}

@media print{
	header, footer, div.slider-wrapper{
		display: none;
	}

	#main button, button.hidden-button{
		background-color: white;
		border:5px solid black;
		color: white;
	}

	#main, #hidden-block{
		border:5px solid #CBBFC3;
	}
}


body{
	background-image: url('images/test.jpg');
	background-size: cover;
	margin:0;
}


header{
	font-family: Camellion;
}

header h1{
	
	font-weight: bold;
	font-size: 42px;
	margin-bottom: 5px;
	color: black;
}

header p{
	margin-top: 5px;
	text-align: center;
	font-size: 25px;
	color: black;
}

header a{
	text-decoration: none;
}

header a:visited{
	color: black;
}


#logo{
	display: flex;
	width: 50%;
	margin-left: 40px;
	margin-top: 10px;
}

#logo-phone{
	min-width: 1200px;
	margin-bottom:20px ;
}


#phone{
	text-align: right;
	font-family: Akrobat;
}
	

.wrapper{
	overflow: hidden;
}


#navbar .menu{
	background-color: black;
	padding: 2px 0px 2px 0px;
	min-width: 1200px;
}

#navbar .menu ul{
	list-style-type: none;
	border:1px solid black;
	font-size: 23px;
	padding: 0;
	font-family: Akrobat;
	/*width: 50%*/;
	float: left;
	margin-left: 80px;
}

#navbar .menu ul > li{
	display: inline;	
	letter-spacing: 1px;
	padding-right: 30px;
	text-align: center;

}


#navbar .menu ul > li a{
	text-decoration: none;
	color: white;
}


#navbar .menu ul > li a:hover{
	color: #FFA400;
	border-bottom: 1px solid #FFA400;
	border-top: 1px solid #FFA400;
}

#navbar .menu ul.submenu{
	display: none;
	position: absolute;
	
	z-index: 10;
	margin-top: 1px;
	padding-top: 5px;
	background-color: black;
	font-size: 15px;
}

#navbar .menu .services{
	left: 170px;
	width: 130px;
}

#navbar .menu .buying{
	left: 300px;
	width: 90px;
}


ul.submenu > li {
    display: block;
}

ul.submenu > li > a {
    display: block;
    padding: 10px 5px 10px 5px;
    color: white;
    background-color: black;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}

#navbar ul.main > li:hover > ul.submenu {
    display: block;
}



/* SLIDER STYLES */


.slider-wrapper {
	height: 500px;
	position: relative;
	width: 1200px;
	margin: 10px auto 10px auto;
	border:2px solid #CBBFC3;
}

.slider {
	height: inherit;
	width: inherit;
	overflow: hidden;
	position: relative;

	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.slide-conteiner {
	position: absolute;
	width: inherit;
	height: inherit;
	background-size: cover;
	opacity: 0;

	transform: scale(1.5);
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

.slide1 { background-image: url(images/slider1.jpg);  }
.slide2 { background-image: url(images/slider2.jpg); }
.slide3 { background-image: url(images/slider3.jpg);  }
.slide4 { background-image: url(images/slider4.jpg); }
.slide5 { background-image: url(images/slider5.jpg); }

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
	opacity: 1;

	transform: scale(1);
}

.slider-wrapper > input {
	display: none;
}

.slider-wrapper .controls {
	position: absolute;
	top:450px;
	left: 50%;
	margin-left: -98px;
	z-index: 2;
}

.slider-wrapper label {
	position: relative;
	width: 8px;
	height: 8px;
	margin: 25px 12px 0 16px;
	display: inline-block;
	cursor: pointer;

	border-radius: 50%;
	transition: background ease-in-out .5s;
}

.slider-wrapper label:after {
	border: 2px solid black;
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;

	border-radius: 50%;
}

#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
	background: #FFA400;
}


h2{
	font-family: Akrobat;
	text-align: center;
}

#main .contacts{
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	display: flex;
	flex-direction: row;
}
#main .news{
	display: flex;
	flex-direction: column;
}
#main .news-message img{

	border:5px solid #CBBFC3;
	margin-right: 20px;
	width: 50%;
	height: 75%;
}

#main div.news-message{
	display: flex;
	height: 170px;
	border-bottom: 2px solid #CBBFC3;
	margin-bottom: 25px;
}

#main .news-message p.message-box{
	margin-bottom: 7px;
}

#main .news h3{
	margin-bottom: 0;
	margin-top: 0;

}

#main .news p{
	margin-top: 3px;
	text-align: justify;
}

#latest-offer img{
	width:100%;
	border:5px solid #CBBFC3;
	margin-bottom: 10px;

}

#main .news :last-child{
	border-bottom: none;
}

.box-text{
	margin-bottom: 20px;
}

#page-title{
	height: 250px;
}


.borders{
	border-left: 2px solid #CBBFC3;
	border-right: 2px solid #CBBFC3;
	padding-left: 10px;
	padding-right: 10px;
}



.box{
	
	width: 31%;
	margin:0 auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px; 
	background-color: white;
	height: 100%;
}

 div[class*="row"]{
	width: 1200px;
	margin: 0 auto;
	border:1px solid #CBBFC3;
	background-color: white;
	padding-bottom: 50px;
}

#hidden-block {
	margin-top: 10px;
	padding-bottom: 0px; 
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

#hidden-block h2{
	margin: 0px;
	padding: 5px;
	color: white;
}

#block-head{
	background-color: black;
	cursor: pointer;
}

#all-content{
	display: none;
}

.block-hidden-content{
	
	margin: 10px;
}

.block-hidden-content h3{
	font-family: Akrobat;
	padding: 10px;
}

.block-hidden-content .text-image{
	float: left;
	margin-right : 10px;
	width: 200px;
	border:5px solid #CBBFC3;
	
}

.hidden-button{
	width: 150px;
	margin:0 auto;
}


#main p.date{
	margin:1px;
	font-weight: bold;
}


#main table{
	width: 100%;
	border-spacing: 0px 0px;
}


#main a{
	text-decoration: none;
}


#main tr.border-bottom td{
	border-bottom:1px solid #CBBFC3;
	padding: 5px;
}

#main tr :last-child{
	text-align: right;
}

#main tr :first-child{
	text-align: left;
}


#navbar i[class*= "fa-"]{

 	display: inline-block;
	font-size:42px;
	color: white;
	float: right;
	padding: 17px 70px 20px 20px;
}

#navbar i[class*= "fa-"]:hover{
	color: #FF8F00;
	cursor: pointer;
}


button{
	text-align: center;
	background-color: black;
	font-family: inherit;
	font-size: inherit;
	border:none;
	color: white;
	display: block;
	width: 40%;

	padding: 5px 10px 5px 10px;
}

button:hover{
	cursor: pointer;
	background-color: #FF8F00;
}






/*  FOOTER STYLES  */
#footer{
	background-color: black;
	min-width: 1200px;
	margin-top: 10px;
	border-top:#CBBFC3;

}


#footer a{
	text-decoration: none;
}

#footer a:hover{
	color:#FFA400;
	text-decoration: none;	
}

#footer .main{
	display: flex;   
	width: 960px;
	margin: 0 auto;
}


#footer .main > *{
	width: 23%;
	margin: 25px 15% 0px 0px;
}

#footer .main :last-child{
	margin-right: 0px;
}


#footer div.footer-title{
	border-bottom: 1px solid white;
	padding : 0px 0px 15px 0px;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: Akrobat;
}

#footer .inner * {
	color: white;	
}

#footer .footer-content{
	margin-top:15px;
}




#footer i[class*= "fa-"]{
	font-size:20px;
}

#footer div.hours table{
	width: 100%;
	border-spacing: 3px 6px;

}

#footer #contact-us tr td{
	padding: 10px;
}




/* Footer social styles */
#footer .social i{
	color: #8c8c8c;
}

#footer .social i:hover{
	color: white;
}


/* Site menu styles */
#footer .inner ul{
	padding: 0; 
	list-style-position: inside;
}

#footer .inner ul > li{
	margin-bottom: 10px;
}



#footer .inner ul > li > a{
	text-decoration: none;
	padding-left: 10px;
}

#footer .inner ul > li > a:hover{
	text-decoration: underline;
}


/* Copyright styles */
#footer #copyright{
	color:white;	
	overflow: hidden;
	padding: 10px;
	font-family: Akrobat;
}

#footer #copyright p{
	float: left;
}

#footer #copyright #footer-social{
	float: right;
}


#footer #footer-social i[class*= "fa-"]{
	font-size:30px;
	margin: 10px;
	color: white;
}


#footer #footer-social i[class*= "fa-"]:hover{
	color: #FFA400;
	cursor: pointer;
}

#footer .container{
	border-top: 1px solid white;
	width: 980px;
	overflow: hidden;
	margin: 0 auto;
}



