@font-face{
	font-family: "Akrobat";
  	font-weight: bold;
  	src:   url("fonts/Akrobat-Bold.otf") ; /* Safari, Android, iOS */   
}


@font-face{
	font-family: "Camellion";
  	font-weight: bold;
  	src:   url("fonts/logo.ttf") ; /* Safari, Android, iOS */  

}

@media print{

	header, footer{
		display: none;
	}

	div > form > button{
		background-color: white;
		border:5px solid black;
		color: white;
	}

	#about-image{
		display: none;
	}

	#main{
		border:5px solid #CBBFC3;
	}
}

body{
	background-image: url('images/test.jpg');
	background-size: cover;
	margin:0;
	font-family: Crimson Text;
}

a{
	text-decoration: none;
}


a:visited{
	color: black;
}

button > a{
	color: white;
}

button > a:visited{
	color: white;
}




/*  HEADER STYLES  */
header{
	font-family: Camellion;
}

header h1{
	
	font-weight: bold;
	font-size: 42px;
	margin-bottom: 5px;
	color: black;
}

header p{
	margin-top: 5px;
	text-align: center;
	font-size: 25px;
	color: black;
}

header a{
	color: black;
}

#logo{
	display: flex;
	width: 50%;
	margin-left: 40px;
	margin-top: 10px;
}

#logo-phone{
	min-width: 1200px;
	margin-bottom:20px ;
}


#phone{
	text-align: right;
	font-family: Akrobat;
}
	

.wrapper{
	overflow: hidden;
}


#navbar .menu{
	background-color: black;
	padding: 2px 0px 2px 0px;
	min-width: 1200px;
}

#navbar .menu ul{
	list-style-type: none;
	border:1px solid black;
	font-size: 23px;
	padding: 0;
	font-family: Akrobat;
	/*width: 50%*/;
	float: left;
	margin-left: 80px;
}

#navbar .menu ul > li{
	display: inline;	
	letter-spacing: 1px;
	padding-right: 30px;
	text-align: center;

}


#navbar .menu ul > li a{
	text-decoration: none;
	color: white;
}


#navbar .menu ul > li a:hover{
	color: #FFA400;
	border-bottom: 1px solid #FFA400;
	border-top: 1px solid #FFA400;
}

#navbar .menu ul.submenu{
	display: none;
	position: absolute;
	
	z-index: 10;
	margin-top: 1px;
	padding-top: 5px;
	background-color: black;
	font-size: 15px;
}

#navbar .menu .services{
	left: 170px;
	width: 130px;
}

#navbar .menu .buying{
	left: 300px;
	width: 90px;
}


ul.submenu > li {
    display: block;
}

ul.submenu > li > a {
    display: block;
    padding: 10px 5px 10px 5px;
    color: white;
    background-color: black;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}

#navbar ul.main > li:hover > ul.submenu {
    display: block;
}



/* CONTENT */
#main{
	margin-top: 10px;
}
h2, h3,h4{
	font-family: Akrobat;
	text-align: center;
}

#main #about{
	padding: 15px;
}

#services{
	padding: 10px;
}
#main #about-image{
	height: 400px;
}

#main .space{
	margin-right: 30px;
}


#main div.manager h3,h4{
	width: 100%;
	margin: 0px;
	text-align: left;
	
}

#main div.manager h3{
	border-bottom: 1px solid  #CBBFC3;
	text-align: center;
	padding-bottom: 5px;
}

#main p{
	text-align: justify;
}
#main img.left{
	float: left;
	width: 200px;
	margin-right: 30px;
	border: 5px solid #CBBFC3 ;
}

#main img.right{
	float:right;
	width: 220px;
	margin-left: 20px;
	border: 5px solid #CBBFC3 ;
}



#main .wrapper{
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	display: flex;
	flex-direction: column;
}

#main > div[class*="row"]{
	width: 1200px;
	margin: 0 auto;
	border:1px solid #CBBFC3;
	background-color: white;
	padding: 10px 2px;
}



#main .manager img{
	margin-right: 50px;
}



#main button{
	text-align: center;
	background-color: black;
	font-family: inherit;
	font-size: inherit;
	border:none;
	color: white;

	display: block;
	width: 20%;
	margin:0 auto;
	padding: 7px 15px 7px 15px;

}

#main button:hover{
	cursor: pointer;
	background-color: #FF8F00;
}


/*  FOOTER STYLES  */
#footer{
	background-color: black;
	min-width: 1200px;
	margin-top: 10px;
	border-top:#CBBFC3;

}

#footer a:hover{
	color:#FFA400;
	text-decoration: none;	
}

#footer .main{
	display: flex;   
	width: 960px;
	margin: 0 auto;
}


#footer .main > *{
	width: 23%;
	margin: 25px 15% 0px 0px;
}

#footer .main :last-child{
	margin-right: 0px;
}


#footer div.footer-title{
	border-bottom: 1px solid white;
	padding : 0px 0px 15px 0px;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: Akrobat;
}

#footer .inner * {
	color: white;	
}

#footer .footer-content{
	margin-top:15px;
}




#footer i[class*= "fa-"]{
	font-size:20px;
}

#footer div.hours table{
	width: 100%;
	border-spacing: 3px 6px;

}

#footer #contact-us tr td{
	padding: 10px;
}




/* Footer social styles */
#footer .social i{
	color: #8c8c8c;
}

#footer .social i:hover{
	color: white;
}


/* Site menu styles */
#footer .inner ul{
	padding: 0; 
	list-style-position: inside;
}

#footer .inner ul > li{
	margin-bottom: 10px;
}



#footer .inner ul > li > a{
	text-decoration: none;
	padding-left: 10px;
}


/* Copyright styles */
#footer #copyright{
	color:white;	
	overflow: hidden;
	padding: 10px;
	font-family: Akrobat;
}

#footer #copyright p{
	float: left;
}

#footer #copyright #footer-social{
	float: right;
}


#footer #footer-social i[class*= "fa-"]{
	font-size:30px;
	margin: 10px;
	color: white;
}

#footer #footer-social i[class*= "fa-"]:hover{
	color: #FFA400;
	cursor: pointer;
}

#footer .container{
	border-top: 1px solid white;
	width: 980px;
	overflow: hidden;
	margin: 0 auto;
}



